
@{
    ViewBag.Title = "Index";
}
@if (ViewBag.Korisnik.LoggedIn == false)
{
    <h2>Ulogujte se: </h2>
    <form action="~/Login/Login" method="post">
        <input type="hidden" name="LoggingDate" value="@DateTime.Now">
        <table cellspacing=0 cellpadding=3 border=0>
            <tr>
                <td align=left>Korisnicko ime:  </td>
                <td><input type="text" name="KorisnickoIme"></td>
            </tr>
            <tr>
                <td align=left>Lozinka:  </td>
                <td><input type="password" name="Lozinka"></td>
            </tr>
            <tr>
                <td align=left>&nbsp;  </td>
                <td><input type="submit" value=" Loguj se! "></td>
            </tr>
        </table>
    </form>
}
else
{
    <p> Već ste ulogovani! </p>
    <p>[<a href="~/Register/SignOff">Odjavi se</a>]</p>
}
<p>[<a href="~/Home/Index">Povratak na pocetnu stranicu</a>]</p>

